<header>
  <img
    src="/assets/img/perfil.png"
    alt="Eric Luis Domingues - Foto de perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Eric Luis Domingues</h1>
</header>
<aside>
  <div class="container">
    <p>Full-Stack Javascript | Angular | Reactjs | NodeJS | NestJs | MySQL</p>
    <p>José Bonifácio - São Paulo</p>
    <p>
      Estou na área de de desenvolvimento web a quase 1 ano. Devido a isso
      resolvi abraçar a stack JS pois atua no FrontEnd / Backend.
    </p>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
          Download CV
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/ericld"
          target="_blank"
          rel="noopener"
          class="btn btn-primary"
        >
          LinkedIn
        </a>
      </li>
    </ul>
  </nav>
  <section>
    <figure>
      <img
        src="/assets/icons/whatsapp.svg"
        alt="Icone para contato do Whatsapp"
        width="22px"
        height="24px"
      />
      <figcaption>
        <a
          href="https://api.whatsapp.com/send?phone=5517992547828&text=Ol%C3%A1%20Eric,%20reciso%20de%20sua%20ajuda!"
          target="_blank"
          rel="noopener"
        >
          <strong>Envie uma mensagem para:</strong>
          <p>Whatsapp: (17)992547828</p>
        </a>
      </figcaption>
    </figure>
    <figure>
      <img
        src="/assets/icons/mail.svg"
        alt="Icone para contato do e-mail"
        width="22px"
        height="24px"
      />
      <figcaption>
        <a href="mailto:ericld.eld@gmail.com" target="_blank" rel="noopener">
          <strong>Envie um Email para:</strong>
          <p>ericld.eld&#64;gmail.com</p>
        </a>
      </figcaption>
    </figure>
  </section>
</aside>
