:root{
    --primary:#317ced;
    --primary-010: #0358d8;

   
    --secundary:#2d1e49;
    --secundary-010:#160c2a;
    
    --white:#fcfcfc;

    --black: #10101a;
    --black-010: #2a2a30;
    
    --grey:#9b9ba0;

}